 <!-- jQuery Version 1.11.0 -->
<script src="{{site.baseurl}}/js/jquery.js"></script>
<script src="{{site.baseurl}}/js/jquery-ui.min.js"></script>

<!-- Materialize Core JavaScript -->
<script src="{{site.baseurl}}/js/materialize.min.js"></script>

<!-- Plugin JavaScript -->
<script src="{{site.baseurl}}/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/slick.min.js"></script>

<!-- Custom Theme JavaScript -->
<script type="text/javascript" src="{{site.baseurl}}/js/main.js"></script>
