 <!-- Navigation -->

<div class="navbar-fixed">
  <nav>

    <div class="nav-wrapper navbar-custom">

        <a href="{{site.baseurl}}/" class="brand-logo">
          <span class="header-img">
            <img class="logo-img" src="{{site.baseurl}}/img/vklogo.png" alt="维克（天津）有限公司">
          </span>
       </a>




    <!-- Dropdown Structure -->


     <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
     <ul class="right hide-on-med-and-down navmenu">
       <li><a href="{{site.baseurl}}/">首页</a></li>
       <li><a href="{{site.baseurl}}/about">关于维克</a></li>
       <li><a href="{{site.baseurl}}/exhibition">维克展示</a></li>
       <li class="navdropmenu" class="has-sub"><a href="{{site.baseurl}}/product">维克旗下公司及产品</a>
         <ul>
           <li><a href="{{site.baseurl}}/product">维克（天津）有限公司</a></li>
           <li class="last"><a href="{{site.baseurl}}/product/veck">维克环保设备（天津）有限公司</a></li>
         </ul>
       </li>
       <li><a href="{{site.baseurl}}/recruitment">在维克工作</a></li>
     </ul>
     <ul class="side-nav sidenavmenu" id="mobile-nav">
       <li><a href="{{site.baseurl}}/about">关于维克</a></li>
       <li><a href="{{site.baseurl}}/exhibition">维克展示</a></li>
       <li><a href="{{site.baseurl}}/product">维克旗下公司及产品</a>
         <ul>
           <li>
             <a href="{{site.baseurl}}/product">维克（天津）有限公司</a>
           </li>
           <li>
             <a href="{{site.baseurl}}/product/veck">维克环保设备（天津）有限公司</a>
           </li>
         </ul>
       </li>
       <li class="last"><a href="{{site.baseurl}}/recruitment">在维克工作</a></li>
     </ul>
    </div>
  </nav>
</div>
