/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    -webkit-text-size-adjust: 100%;
    width: 100%;
    height: 100%;
    color: #424242;
}

html {
    width: 100%;
    height: 100%;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
    margin-top: $spacing-unit / 2;
    margin-bottom: $spacing-unit / 2;
}

/**
 * Links
 */
a {
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}


/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}

/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.5;
    margin: 15px 0;
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
