/* About page */
.intro-exhi {
  display: table;
  width: 100%;
  height: 80%;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro-exhi .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.intro-exhi .intro-body .intro-text {
  text-align: left;
  font-size: 48px;
  letter-spacing: 3px;
  text-shadow: 2px 2px 8px #000000;
}

.exhi-content {

  p {
    padding: 10px 0;
  }
  .section {
    padding: 100px 0;
    margin: 3px auto;
  }
}
