/* Exhibition page */
.intro-exhi {
  display: table;
  width: 100%;
  height: 80%;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background: url(../img/exhibition/bg.jpg) no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro-exhi .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.intro-exhi .intro-body .intro-text {
  text-align: left;
  font-size: 48px;

  text-shadow: 1px 1px 4px #000000;
}

@media screen and (max-width: 500px) {
  .tabs-custom {
    p,
    a {
      font-size: 12px;
    }
  }
}

.exhi-content {

  p {
    padding: 10px 0;
  }
  .section {
    padding: 100px 0;
    margin: 3px auto;
  }


}


/* Tabs */

.section-exhi {

  padding-top: 0;
  padding-bottom: 1rem;
  .row .col {
    padding: 0;
  }
  .tabs {
    height: 180px;


    .tab {
      height: 150px;
      margin-top: 30px;
      line-height: 2em;
      a {
        color: #212121;
        @include transition( color .28s ease);
        &:hover {
          p,i {
            color: #7EB446;
          }

        }
      }
      p {
        padding: 0;
        margin: 0;
      }
    }

    .indicator {
      background-color: #7EB446;;
      height: 8px;
    }
  }

  .tabs-content {

    .row {
      padding: 0;
      margin: 0;
    }
    div.col {
      padding-left: 1px;
      padding-right: 1px;
    }
    img {
      margin: 1px auto;
    }


  }
}
