/* Product page */
.intro-product {
  display: table;
  width: 100%;
  height: 50%;
  padding: 0;
  text-align: center;
  color: #424242;

  .intro-body {
    display: table-cell;
    vertical-align: middle;

    .container {
      .row {
        margin: 30px auto 0;
      }
    }

    .product-item{
      background-color: #eee;
      height: 80px;
      display: table;
      border: 1px solid #fff;
      table-layout: fixed;
      > span {
        display: table-cell;
        vertical-align: middle;
      }
    }

    .product-item-img {
      position: relative;
      max-width: 80%;
      margin: 3rem auto -12rem;
      .product-1 {
        position: absolute;
        top: -2.8rem;
        right: 6rem;
        max-height: 275px;
        z-index: 2;

      }
      .product-1 + .product-1 {
        top: -4.5rem;
        display: block;
        max-width: 75%;
        right: 0;
        z-index: 3;
        max-height: 300px;
        position: absolute;
      }

    }

    .intro-text {
      text-align: left;
      font-size: 24px;
      text-shadow: 1px #000000;
      line-height: 1.3;

      &:after {
        content: "";
        height: 2px;
        background:-moz-linear-gradient(left, #000000 0%,#FFFFFF 100%);
        background:-webkit-linear-gradient(left, #000000 0%,#FFFFFF 100%);
        background:linear-gradient(left, #000000 0%,#FFFFFF 100%);
        width:20%;
        display:block;
      }
    }
  }
}



.product-text {
  color: #7EB446;
  text-transform: capitalize;
}
#product-section-1 {
  height: 80%;
  background: url(../img/product/veck/1_vfc/right.png) no-repeat right scroll;
  background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;

}

#product-section-2 {
  background: url(../img/product/veck/1_vfc/left.png) no-repeat left scroll;
  background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
}

#product-section-4 {
  background: url(../img/product/veck/3_vah/3-2.png) no-repeat 80% 50% scroll;
  background-size: 400px;
  -moz-background-size: 400px;
  -o-background-size: 400px;
}

#product-section-5 {
  background: url(../img/product/veck/4_vae/4-2.png) no-repeat 20% -15% scroll;
  background-size: 600px;
  -moz-background-size: 600px;
  -o-background-size: 600px;
  padding: 0;
}

#product-section-6 {
  background: url(../img/product/veck/5_vac/5-2.png) no-repeat left top scroll;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding-bottom: 10px;
}

#product-section-7 {
  padding: 100px 0 0;
}

#product-section-8 {
  background: url(../img/product/veck/7_vax/7-3.png) no-repeat 80% 50% scroll;
  background-size: 500px;
  -moz-background-size: 500px;
  -o-background-size: 500px;
}

#product-section-9 {
  background: url(../img/product/veck/8_vws/8-1.png) no-repeat 20% 50% scroll;
  background-size: 500px;
  -moz-background-size: 500px;
  -o-background-size: 500px;
}

#product-section-10 {
  background: url(../img/product/veck/9_vws/9-1.png) no-repeat 85% 50% scroll;
  background-size: 450px;
  -moz-background-size: 450px;
  -o-background-size: 450px;
}

#product-section-11 {
  background: url(../img/product/veck/10_vhs/10-1.png) no-repeat 10% 70% scroll;
  background-size: 450px;
  -moz-background-size: 450px;
  -o-background-size: 450px;
}

#product-env-section-1 {
  height: 80%;
  background: url(../img/product/veckenv/bg.jpg) no-repeat bottom center scroll;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  h1 {
    margin: 0 8rem;
  }
}

#product-env-section-2 {
  background: url(../img/product/veckenv/vgd/1-2.jpg) no-repeat 85% 5% scroll;
  -moz-background-size: 500px;
  -o-background-size: 500px;
  background-size: 500px;
  &.intro-product{
    padding: 0 0 10px;
  }
}

#product-env-section-3 {
  background: url(../img/product/veckenv/vxfd/2-1.jpg) no-repeat 85% 50% scroll;
  -moz-background-size: 500px;
  -o-background-size: 500px;
  background-size: 500px;

}
