/* Recruitment Page */

.intro-recruitment {
  display: table;
  width: 100%;
  height: 80%;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background: url(../img/recruitment/bg.jpg) no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro-recruitment .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.intro-recruitment .intro-body .intro-text {
  text-align: left;
  font-size: 48px;
  letter-spacing: 3px;
  text-shadow: 2px 2px 8px #000000;
}

.rec-content {

  p {
    padding: 10px 0;
  }
  .section {
    padding: 100px 0;
    margin: 3px auto;
  }
}


.section-rec {
  .tabs {
    .tab {
      a {
        color: #212121;
        @include transition( color .28s ease);
        &:hover {
          color: lighten(#212121, 20%);
        }
      }
    }

    .indicator {
      background-color: #212121;
    }
  }

  h6 {
    font-size: 20px;
    color: #424242;
  }

  p {
    margin: 10px auto;
    color: #424242;
  }

  a {
    color: #4caf50;
  }
}
